* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    /*flex-basis: 800px;*/
}

.image-world-map-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.image-world-map {
    max-height: 100%;
    width: auto;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
}

li {
    list-style: none;
}